# 1. Python Numbers

In [ ]:
2+2

In [ ]:
3-4

In [ ]:
3/2             #float

In [ ]:
3*2

In [ ]:
3//2           #integer

In [ ]:
3**2     # power calculation

In [ ]:
x=5
type(x)

In [ ]:
y=1.2
z="Hello"

In [ ]:
type(y)

In [ ]:
type(z)

In [ ]:
a=1.00000005487
isinstance(a,complex)

In [ ]:
a=1.00000005487
isinstance(a,float)

In [ ]:
name="Pakistan";reg= 66
print(name,reg)

In [ ]:
x=y=z=3
print(x,y,z)

In [ ]:
import math as m

In [ ]:
print("Pi : ", m.pi)

In [ ]:
from math import pi

In [ ]:
print(" PI : ",pi)

In [ ]:
from math import*

In [ ]:
print(" PI: ",pi)

# 2. Keyword List

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
help('LISTS')

# 3. Python Output and Input

In [ ]:
"Hello, We are becoming Pythoneers"

In [ ]:
char=input("enter a string : ")[0]
print(char)

In [ ]:
x=int(input("enter an integere : "))

In [ ]:
y=int(input("enter an integere : "))

In [ ]:
z=x+y

In [ ]:
print(z)

In [ ]:
print('Hello !! "We are practicing Pyhton" ')

In [ ]:
5* ('Sana ')

# 4. Variable Intialization and declaration and operation

In [ ]:
x=2
y=3
x+y

In [ ]:
a=5;b=2.0;c=a*b;print(c);type(c)

# 5. Joining two String and Value of Identifer

In [ ]:
x =3
mstring="Value of the Varibale is %i" %x
mstring

In [ ]:
x=5
print("hello",x)

# 6. value of previous operation using "_" instead of a variable

In [ ]:
x=2;y=2;x+y

In [ ]:
z=2
_ * z

# 7. Finding address of a variable

In [ ]:
id(z)

# 8. Pyhton String Retrieving

In [1]:
abc="Pakistan is my HomeLand"

In [2]:
abc[3:-5]

'istan is my Hom'

In [ ]:
abc[0]

In [ ]:
abc[2]

In [ ]:
abc[-1]

In [ ]:
abc[-3]

In [ ]:
abc[0:2]

In [ ]:
abc[1:4]

In [ ]:
abc[1:]

In [ ]:
abc[:4]

In [ ]:
'My ' + abc[0:3]

In [ ]:
len(abc)

# Concatinating Two Strings

In [ ]:
a = 'Have a nice day'
print (a [:11] + " time")

# Replace , Strip Functions in String

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
print('mnopqr22'.replace('op','22'))

In [4]:
a = " Hello, World! "          #removing leading and trailing space
b=a.strip()
b

'Hello, World!'

In [1]:
print('pqqrppqpqq'.lstrip('pqq')) #striping specific characters from start

rppqpqq

In [ ]:
print('hellooo'.rstrip('lo')) #striping specific characters from last

In [ ]:
a = 'have a nice day. my name is Sana'
x=a.split()
print(x)

In [ ]:
dir(a)

In [ ]:
print('You are learning Python'.count('e'))

# 9. Lists a data structure in Python

In [ ]:
a= ['how','are','you']           #converting list to string
''.join(a)

In [ ]:
a= ['how','are','you']         #converting list to string by adding special character
'_'.join(a)

In [ ]:
a='Python is the new trend'             #converting string to list
print(a.split())

In [3]:
a='Python is the new trend'
print(a.split())

['Python', 'is', 'the', 'new', 'trend']

In [ ]:
list= [10,1,2]      # ineteger List and mutable ( mutable means you can change values)
list

In [ ]:
list[-1]                            # fecthing last index from right side

In [ ]:
list[-3]                           # fecthing first index from left side

In [ ]:
a=['UET','UMT','UCP','GCU','GIKI','NUST','PU']             #Displaying Every Second Element
a[4::1]

In [ ]:
name=['sana', 'Ali', 'Hoorain']
name

In [ ]:
com = [list, name]
com

In [ ]:
list.append(45)  #it will add character at the end of the list

In [ ]:
list

In [ ]:
list.insert(0,100)  #it will add character at 0 index
list

In [ ]:
list.remove(1)     # we have passed a value here
list

In [7]:
list=[10,30,50]
list.pop(0)             #pop will extract last value from list,

10

In [ ]:
list.pop(0)                #pop will extract value at mentioned index

In [ ]:
del list[2:]
list                           # del will only delete the value

In [ ]:
list.extend([202,403,100])     # appends add one record at a time while extends add multiple at a time
list

In [ ]:
min(list)

In [ ]:
max(list)

In [ ]:
sum(list)

In [ ]:
#list.sort()
#ist

In [ ]:
#list.reverse()
#list

In [ ]:
list.sort(reverse=True)
print(list)

In [ ]:
list.reverse()
list

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
del x[2:8]
x

# 10 Lists are mutable

Lists are mutable because you can change the order of items in a list or reassign an item in a list.
When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned.

In [ ]:
number=[98,99,100]
number[1]=100
print(number)

In [ ]:
a=['a','b','c']
b=['d','e','f']
a.append(b)
print(a)

In [ ]:
a=['a','b','c']
b=['d','e','f']
a.extend(b)
print(a)

In [ ]:
a=['x','y','z']
b=['d','e','f']
a.extend(b)
a.sort()
print(a)

In [ ]:
a=['d','a','e']           #combining two lists, sorting and reversing
b=['b','c']
a.extend(b)
a.sort(reverse=True)
print(a)

In [ ]:
a=[5,2,10,1,7]
a.sort(reverse=True)
print(a)

In [ ]:
name = ['Umer', 'Ali', 'Abubakar', 'Usman']             # returning a list copy
x=name.copy()
print(x)

In [ ]:
list=[30,20,32,55]                                      #finding index of any point in list
x = list.index(32)             
print(x)

In [ ]:
t=['a',10,'b','m']                                     # Deleting a value from given index
a=t.pop(2)
print(a)
print(t)

In [ ]:
t=['a','b','c','d','e']
del t[1:3]
print(t)

In [ ]:
t = ['a','b','c','d','e']
t.remove('b')
print(t)

In [ ]:
list = ["apple", "banana", "cherry"]
list.clear()
print(list)

In [ ]:
message="Hello, My name is Ali"
t=message.split()
print(t)
t[2]

In [ ]:
message="Hello, My name is Ali"
message[2]

In [ ]:
x=[1,2,3,4,5,6,7]
print(x[0:5:3])

In [ ]:
x=[1,2,5,20,10,50,55,80,78]
print(x[2::3])

In [ ]:
x[0::4]

In [ ]:
x[0:7:1]

# Reverse Through Slicing

In [ ]:
x=[1,2,3,4,5,6,7]
print(x[::-1])

# Modify multiple list items

In [ ]:
L = [1,2,3,4,5,6,7]
L[1:3] = ['a', 'b', 'c','e']
L

# Insert at the start

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]
y=[20,55,10]
x[:0]=y
print(x)

# Insert in the middle

In [ ]:
L = ['a', 'b', 'c']
L[1:1] = [1, 2, 3]
print(L)

# Insert at the end

In [ ]:
L = ['a', 'b', 'c']
L[len(L):] = [1, 2, 3]
L

In [ ]:
x=[1,2,3]
y=[5,10,11]

x[len(x):]=y
x

# Input data into empty list

In [ ]:
x=[]
for i in range(3):
    y=input(" Enter a fruit name ")
    x.append(y)
print(x)

# 11. Creating Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.
In order to store values in terms of key and value which core data type is used.

In [ ]:
x ={ "University": "University of Management and Technology", 
      "School": {"School of Business and Economics", 102 },
       "x": 11
    }
x

In [ ]:
type(x)

In [ ]:
x["School"]

In [ ]:
x.pop("School")

In [ ]:
x

In [ ]:
x.get("University")

# Creating Dictionaries

In [ ]:
a =dict(University=['Islamic','Comsats','PU'], School={"School of Business and Economics", "xy"},
        Department="Information Systems", PHd =20)
a

# 13. Keys for a Dictionary

In [ ]:
a.keys()

In [ ]:
a["University"]

# 14. Nested Dictionary

In [ ]:
people = {1: {'name': 'Umer', 'age': '38', 'G': 'Male'},
          2: {'name': 'Benazir', 'age': '62', 'G': 'Female'}, 
          'jj': {'name': 'Junaid Jamshed', 'age': '52', 'G': 'Male'}}
people

In [ ]:
people.keys()

In [ ]:
people[1]["G"]

In [ ]:
people[1]["age"]

In [ ]:
people[1].pop("G")

In [ ]:
people

# Nested Dictionary by Constructor

In [ ]:
x=dict(id1={"Name":"ammara", "Height":5.7}, id2={"age":26})
x

In [ ]:
x['id2'].get("age")

In [ ]:
x['id2'].pop("age")

In [ ]:
x

# Nested Dictionary Through zip

In [ ]:
key=['id1','id2']
D=[{"Name":"saim", "age":26, "Spec":["DS","Algebra"]},{"Name":"Meher", "age":26, "Spec":["Discrete","Dip"]}]
                                                       
x=dict(zip(key,D))
x

In [ ]:
x['id1']['Name']

In [ ]:
x['id2'].pop("age")

In [ ]:
key=[1,2]
D=[{"Name":"saim", "age":26, "Spec":["DS","Algebra"]},{"Name":"Meher", "age":26, "Spec":["Discrete","Dip"]}]
                                                       
x=dict(zip(key,D))
x

# Nested Dictionary default Values

In [ ]:
IDs = ['emp1','emp2','emp3']
Defaults = {'Rank': 'OG-1', 'Tenure Period': '2y'}
D = dict.fromkeys(IDs, Defaults)
print(D)

# Merging Two Dictionaries

In [ ]:
D1 = {'emp1': {'name': 'Bob', 'job': 'Mgr'}, 'emp2': {'name': 'Kim', 'job': 'Dev'}}

D2 = {'emp3': {'name': 'Max', 'job': 'Janitor'}}

D1.update(D2)

print(D1)

# 15. Swaping Two Values

In [ ]:
a=2
b=3

In [ ]:
x,y=5,10

In [ ]:
x

In [ ]:
y

In [ ]:
print("value of a is : ", a)
print("value of b is : ", b)

In [ ]:
a,b=b,a

In [ ]:
print("value of a is : ", a)
print("value of b is : ", b)

In [ ]:
d={}

n=int(input("Enter range : "))
for i in range(n):
    y=[]
    name=input("Enter name : ")
    age=input("Enter Age : ")
    
    for j in range(2):
        skills=input("Enter your subjetcs: ")
        y.append(skills)
    d[i]=name,age,y

print(d)

In [1]:
df=pd.DataFrame(d, index=["i","ii","iii"])
df

NameError: name 'pd' is not defined

# 16. IF Statement

In [ ]:
a=15
if a>10:
    print("Pass")

In [ ]:
a = 65
if (a > 50 and a<100):
    print("Pass")

In [ ]:
a = 20; b = 15;
if (a > b): 
    print("a is greater")
else: 
    print("b is greater")

In [ ]:
x=int(input("Enter an integer : "))
if (x%2==0):
    print(x,"Even")
else:
    print (x,"odd")

# 17. If-Else In List

In [ ]:
if ('Pakistan' in ["Pakistan", "America", 105]):
    print('Yes')
else:
    print('No')

# 18. If- Else in Dictionary

In [ ]:
if 'University' in {"University": "University of Management and Technology",
                    "School": "School of Business and Economics",
                    "No of MS Programs": 11 }:
    print('Yes')
else:
    print('No')

In [ ]:
data= ['Umer','Ali','Ahmed','Usman','Bilal']
if 'Umer' in data:
    print('Yes')
else:
    print('No')

# 19. Nested IF

In [ ]:
age=int(input("Enter your age: "))
if (age<18):
    print("Your are Minor")
    print("Yor are not Eligible to Work")
else:
    if (age >=18 and age <=60):
        print("You are Eligible to Work")
        print("Please fill your details and apply")
    else:
        print("You are too old to work as per Goverment rules")
        print("Please collect your pension!")

# Loops in Python

# While Loop

In [ ]:
i = 1
while (i < 6):
    print(i)
    i += 1

In [ ]:
i=1
while(i<=5):
        print('*')
        i=i+1

In [ ]:
number = 23
running = True
while running:
    guess = int(input('Enter an integer : '))
    if guess == number:
        print('Congratulations, you guessed it.')      
        # this causes the while loop to stop        
        running = False    
    elif guess < number:
        print('No, it is a little Lower than that.')    
    else:        
        print('No, it is a little Higher than that.')
else:
    print('The while loop is over.')
        # Do anything else you want to do here
print('Done')

In [ ]:
x=['Apple',200,55.5]
i=0
while(i<3):
    print(x[i])
    i+=1

# For Loop

In [ ]:
data= ["sana", "23", "5.4"]
for i in data:
    print (i)

In [ ]:
for x in "Python is":
    print(x)

In [ ]:
x={'Name':['Umer','Ali','Ahmed','Usman','Bilal'],
        'Age':[38,36,32,35,42],
        'City':['LHR','ISB','LHR','KHI','MUL']}

for i in x.values():
    print(i)

In [ ]:
for i in x.keys():
    print(i)

In [ ]:
x=[500,"aliya",26.5]
for i in x:
    print(i)

# break statement

In [ ]:
for x in "my homeland":
  print(x)
  if (x == "e"):
    break

# Continue Statement

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if (x == "banana"):
    continue
  print(x)

# For Loop Range Function

In [ ]:
for x in range(2, 6):
  print(x)

In [ ]:
for i in range(1,20):
    if(i%2==0):
        print(i)

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

# Nested Loop

In [ ]:
x=[5,10,30,2,100,99,1,6]
x.sort(reverse= True)
print(x)

In [ ]:
x=[5,10,30,2,100,99,1,6,11,122]

for j in range(9):
    for i in range(9):
        if(x[i]<x[i+1]):
            temp=x[i]
            x[i]=x[i+1]
            x[i+1]=temp
print(x)

In [ ]:
for i in range(3):
    for j in range(3):
        print("*", end="")
    print()

In [ ]:
for i in range(5):
    for j in range(i+1):
        print("*", end="")
    print()

In [ ]:
for i in range(2):
    for j in range(2):
        print("*", end="")
    print("@", end="")
    print()

In [ ]:
for i in range(5):
    for j in range(5-i):
        print("*", end="")
    print()

In [ ]:
i=2
j=1
while i>=1:
    print('value of i decreasing', i)
    while j<=i:
        print('value of j increasing',j)
        j=j+1
    i=i-1

In [ ]:
mylist=['a']*6             #List in Python
my_string=''               #string 
for i in mylist:
    my_string+=i
print(my_string)

# Functions

# Function Without Arguments

In [ ]:
def show():
    print("hello")

show()

In [ ]:
def sum():
    x=21
    y=20
    print(x+y)

sum()

# Function with Argument

In [ ]:
# Pass single argument to a function
def hello(name):
    print('Hello,', name)

x=20
hello(x)
#hello('Samia')

In [ ]:
# Pass single argument to a function
def hello(name, job):
    print(name ,' is ', job)


hello('waliya', 'Java Developer')
#hello('Ali', 'Stack Developer')

In [ ]:
# Pass single argument to a function
def hello(name, job):
    print(name ,' is ', job)

hello(name='waliya', job='Java Developer')
hello(job='Stack Developer', name='Ali')

In [ ]:
def add(x,y):
    print("Sum of Numbers : ", x+y)

add(5,100.55)

In [ ]:
def add(x):
    even=odd=0
    for i in x:
        if(i%2==0):
            even+=1
        else:
            odd+=1
    return even,odd

x=[10,20,55,30]
even,odd=add(x)
    
print("Even :",even, end="")
print()
print("Odd :", odd, end="")

In [ ]:
def func(a, b=5, c=10):
    print('a is', a, 'and b is', b, 'and c is', c)

func(5)

In [ ]:
def show(*x):
    print(x)

show(1, 54, 60, 8, 98, 12)

# Function with Return Type

In [ ]:
def add(x,y):
    return x+y

res=add(5,10)
print(res)

In [ ]:
def add(x,y):
    z=x+y
    return z

res=add(5,10)
print(res)

# Returning Multiple Values

In [ ]:
def add_sub(x,y):
    z=x+y
    q=x-y
    return z,q

res1,res2=add_sub(5,10)
print("Sum :",res1,"\n","Sub : ",res2)

In [ ]:
def add(*x):
    sum=0
    
    for i in x:
        sum=sum+i
    print(sum)


add(5,10,100,200)

# Recursive Functions

In [ ]:
def countdown(num):
    if num <= 0:
        print('Stop')
    else:
        print(num)
        countdown(num-1)

countdown(5)

# Function with Loops

In [ ]:
def factorial(n):
    res = 1
    for i in range(1, n + 1):
        res *= i
    return res

print(factorial(3))
print(factorial(5))

# Arrays in Python

In [ ]:
from array import *

In [ ]:
vals=array('i',[1,5,2])
vals.reverse()
print(vals[0])

In [ ]:
for i in range(3):
    print(vals[i])

In [ ]:
vals=array('u',['a','c','d'])
for i in range(3):
    print(vals[i])

In [ ]:
val=array('i', [2,3,4])
newarr=array(val.typecode, (i*i for i in val))
for j in newarr:
    print(j)

In [ ]:
arr=array('i',[])
n=int(input("Enter Length of an Array : "))
for i in range(n):
    x=int(input(" Enter value of index: "))
    arr.append(x)
print(arr)

In [ ]:
for j in range(n):
    print(arr[j])

# Taking Input in Python Function without Arguments

In [ ]:
def show():
    x=input("enter your mood")
    y=int(input(" enter integer :"))
    print(x)
    print(y)
    
show()

# Lambda Function

In [ ]:
x = lambda a : a + 10
print(x(5))

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [ ]:
def show(n):
  return lambda a : a * n

x = show(2)

print(x(11))

In [ ]:
def show(x):
    return x*x
show(2)

In [ ]:
v=lambda x:x*x
v(2)

In [ ]:
full_name=lambda fn,ln: fn.strip().title()+""+ln.strip().title()

x=input("Enter your First Name :")
y=input("Enter your Last Name : ")
print(full_name(x,y))

In [ ]:
full_name=lambda fn,ln: fn.strip().title()+ ""+ln.strip().title()

print(full_name(" sohail","asghar" ))

In [ ]:
authors=["Mohib Ali","Somia Basheer","Aliya Ahmed","Waqas zaeem","Rashid"]
authors.sort(key=lambda name: name.split(" ")[-1].lower())
authors

In [ ]:
list1=[10,20,60,50]

In [ ]:
list1[3]=list1[2]

In [ ]:
list1[3]=list1[4]

In [1]:
d={}
key=input("Enter key")
value=input("Enter Value")
d[key]=value
d.update({key:value})
for key,value in d.items():
        print(key,value)

Enter key1
Enter Valueammara
1 ammara